/add.png
/bonus
/build
/cli-tools-banner.jfif
/cli.py
/complete.png
/CorpForProfitDomesticInitialFiling DC.pdf
/dist
/e1.py
/e2.py
/e3.py
/e5.py
/FilingCertificate DC.pdf
/gui.py
/Invoice DC.pdf
/Invoice DCDC.pdf
/MyTodoApp.py
/output.zip
/RANDOM LIKES.py
/TODO APP.py
/todo-gui.spec
/Todo.spec
/todo_gui.py
/todo_gui.spec
/Web Todo
/__pycache__